//HEADER SECTION


.topHeader {
  text-align: right;
  background-color: black;
  // height: 38px;
  opacity: .9;
  color: $Accent;
  @include flexbox(row);
  justify-content: flex-end;
  margin: 0px;
  position: fixed;
  left:0;
  padding: 3px;
  width: 100%;
  z-index: 1000;

  .topContent {
    color: $Accent;
    padding: 8px 15px;
    font-family: "Open Sans";
    letter-spacing: .01rem;
    font-size: .9rem;

    a {
      color: $Accent;
    }

  }

}

header {
  height: 90vh;
  width: 100%;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.473) 0%,
      rgba(0, 0, 0, 0.445) 100%),
    url(/img/stock-img/full-kitchen.jpg) no-repeat center;
  background-size: cover;


  button {
    @include button($Accent, $Light);
    width: 175px;
    height: 58px;
  }

  button:hover {
    background-color: $Light-darken;

    border: none;
  }

  button:focus {
    outline: none;
  }
}

//added on scroll (js)

.displayNone {
  display: none;
}

.displayOn {
  display: flex;
}

//Hamburger

label {
  margin: 0 40px 0 0;
  float: right;
  color: white;
  font-size: 2em;
  line-height: 70px;
  display: none;
  width: 26px;
  transition: all 0.6s ease;
}

#toggle {
  float: right;
  display: none;
}

// NAVIGATION

.nav {
  @include flexbox(row);
  justify-content: space-between;
  color: $bodyGrey;
  width: 100%;
  max-height: 65px;
  z-index: 10;
  position: fixed;
  top: 38px;
  transition-duration: .2s;
  


  a {
    color: $Light;
  }
}




.nav-scrolled {

  transition-duration: .2s;
  background-color: $Light;
  color: red;
  position: fixed;
  top: 37px;
  // margin-top: -35px;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.73);

  a {
    color: $Dark;
  }

  label {
    color: $Dark;
  }
}

.logo {
  // font-size: 1.2rem;
  font-weight: 800;
  padding: 20px 30px;

  img {
    width: 30px;
    padding-top: 4px;
  }

  span {
    color: $Accent;
  }
}

//MENU IN NAVIGATION

.menu {
  font-weight: 500;
  // font-size: 1.1rem;
  z-index: 0;
  padding: 20px 30px;

  a {
    padding: 0 10px;
    clear: right;
  }
}

#about:hover,
#services:hover,
#portfolio:hover,
#contact:hover {
  color: $Accent;
}

//HERO

.heroContainer {
  @include flexbox(column);
  justify-content: center;
  height: 100%;
}

.hero {
  color: white;
  text-align: left;
  margin: 0 10%;

  // h1 {
  //   font-size: 6.8rem;
  // }

  // h3 {
  //   color: $Light;
  //   font-size: 1.6rem;
  // }


}





@media only screen and (max-width: 768px) {
  // .topHeader {
  //   display: none;
  // }

    .topHeader {
      z-index: 1000;
      position: fixed;
      width: 100%;
      opacity: 1;
    }

  .menu {
    display: flex;
    justify-content: center;
    z-index: 1;
  


  }

  .menuFlex {
    display: flex;
    // justify-content: space-around;
    // flex-flow: row wrap;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 70px;
    justify-content: center;
  

  }



  .menu a {
    // font-size: 0.8rem;
    padding: 25px 8px;
    // display: block;
    // padding-bottom: 15px;
    margin-top: 0;
    padding-top: 0;
    font-weight: 500;
    // font-size: 1rem;
    text-align: center;
    // width: 70px;
    // z-index: 5000;

  }

  label {
    display: block;
    cursor: pointer;
  }

  .nav-scrolled {
    margin: 0;

  }

  .nav {
    display: block;
    position: fixed;
    top: 35px;
    z-index: 2;


    background-color: $Light;

    a {
      color: $Dark;
    }

    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.73);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.73);
  }

  .menu {
    text-align: center;
    width: 100%;
    // margin: 10px;
    padding-top: 0;
    padding-bottom: 0;
    // margin: 0;
    width: 100%;
    visibility: hidden;
    // opacity: 0;
    position: relative;
    top: -250px;
    left: -30px;
    // top: 20px;
    background-color: $Light;
    z-index: -20;

    transition: .5s all ease;
    color: $Dark;
  }

  .logo {
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 24px 30px;
    color: $Dark;
  }

  .hero {
    z-index: 0;
  }

  label {
    color: $Dark;
  }

  #toggle:checked~.menu {
    visibility: visible;
    background-color: $Light;
    width: 100%;
    margin: 0;
    top: -5px;
    left: -30px;

  }

  #toggle:checked~label {
    transform: rotate(-45deg);
    color: $Dark;
   

  }




@media only screen and (max-width: 500px) {
  #Home {
    height: 80vh;
  }
  .logo {
    padding-top: 25px;
  }
}


}