//SERVICES


.servicesFlex {
  @include flexbox(row);
  justify-content: center;
}

#box1 {
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(121, 120, 120, 0.42) 100%),
    url(/img/stock-img/kitchen-cabinet.jpg) no-repeat center;
  background-size: cover;
  flex-grow: 1;
  flex-shrink: 1;
}

#box2 {
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(121, 120, 120, 0.42) 100%),
    url(/img/stock-img/bathroom-shower.jpg) no-repeat center;
  background-size: cover;
  flex-grow: 1;
}

#box3 {
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(121, 120, 120, 0.42) 100%),
    url(/img/stock-img/floor-tiles.jpg) no-repeat center;
  background-size: cover;
  flex-grow: 1;
}

.box {
  padding: 50px 40px;
  color: White;
  width: 180px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;


  p {
    color: $Light;
  }
}

@media only screen and (max-width: 992px) {
  .servicesFlex {
    flex-wrap: wrap;
  }
}