#Contact {
  height: 100%;
  background: #242525;
  color: #f3f3f3;
  padding: 40px 0;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contactText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 300px;
  max-width: 420px;
}

.contactText .contactTitle {
  color: #f3f3f3;
}

.contactText .callNow a {
  color: #f3f3f3;
}

.contactText .address span {
  color: #f3f3f3;
}

.contactForm {
  padding: 40px 0;
}

.contactForm button {
  font-weight: 700;
  text-transform: capitalize;
  width: 138px;
  height: 48px;
  margin: 25px 0;
  font-size: 0.9rem;
  color: #e81a16;
  background-color: #f3f3f3;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  width: 448px;
  margin: 10px 0;
}

.contactForm button:hover {
  background-color: #d0cfcf;
}

form input {
  display: block;
  width: 430px;
  height: 40px;
  margin: 13px 0;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  color: #051821;
  font-size: 20px;
  padding: 5px 8px;
}

textarea {
  display: block;
  width: 430px;
  margin: 13px 0;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  color: #051821;
  resize: none;
  font-size: 20px;
  height: 9rem;
  padding: 5px 8px;
}

form input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  padding: 5px 8px;
  color: #2b2b2b;
}

form input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  padding: 5px 8px;
  color: #2b2b2b;
}

form input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  padding: 5px 8px;
  color: #2b2b2b;
}

form input::placeholder,
textarea::placeholder {
  padding: 5px 8px;
  color: #2b2b2b;
}

@media only screen and (max-width: 1200px) {
  .contactForm input {
    width: 24rem;
    height: 2.3rem;
  }
  .contactForm textarea {
    width: 24rem;
  }
  .contactForm input::-webkit-input-placeholder {
    margin: 0;
    padding: 0 5px;
  }
  .contactForm input:-ms-input-placeholder {
    margin: 0;
    padding: 0 5px;
  }
  .contactForm input::-ms-input-placeholder {
    margin: 0;
    padding: 0 5px;
  }
  .contactForm input::placeholder {
    margin: 0;
    padding: 0 5px;
  }
  .contactForm button {
    width: 25rem;
    margin: 5px 0 20px 0;
    height: 2.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .contactForm input {
    width: 20rem;
    height: 2.3rem;
    font-size: 1rem;
  }
  .contactForm textarea {
    width: 20rem;
    font-size: 1rem;
  }
  .contactForm input::-webkit-input-placeholder {
    margin: 0;
    padding: 0 5px;
  }
  .contactForm input:-ms-input-placeholder {
    margin: 0;
    padding: 0 5px;
  }
  .contactForm input::-ms-input-placeholder {
    margin: 0;
    padding: 0 5px;
  }
  .contactForm input::placeholder {
    margin: 0;
    padding: 0 5px;
  }
  .contactForm button {
    width: 21rem;
    margin: 5px 0 20px 0;
    height: 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contactContainer hr {
    margin: 10px auto;
    text-align: center;
  }
  .contactForm input {
    width: 25rem;
    height: 2rem;
  }
  .contactForm textarea {
    width: 25rem;
  }
  .contactForm input::-webkit-input-placeholder {
    margin: 0;
    padding: 0 5px;
  }
  .contactForm input:-ms-input-placeholder {
    margin: 0;
    padding: 0 5px;
  }
  .contactForm input::-ms-input-placeholder {
    margin: 0;
    padding: 0 5px;
  }
  .contactForm input::placeholder {
    margin: 0;
    padding: 0 5px;
  }
  .contactForm button {
    width: 26rem;
    margin: 5px 0 20px 0;
    height: 2.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .contactForm input {
    width: 25rem;
    height: 2.6rem;
  }
  .contactForm textarea {
    width: 25rem;
    height: 10rem;
  }
  .contactForm button {
    width: 26rem;
    height: 2.4rem;
  }
  .contactForm input::-webkit-input-placeholder,
  .contactForm textarea::-webkit-input-placeholder {
    padding: 5px 5px;
  }
  .contactForm input:-ms-input-placeholder,
  .contactForm textarea:-ms-input-placeholder {
    padding: 5px 5px;
  }
  .contactForm input::-ms-input-placeholder,
  .contactForm textarea::-ms-input-placeholder {
    padding: 5px 5px;
  }
  .contactForm input::placeholder,
  .contactForm textarea::placeholder {
    padding: 5px 5px;
  }
  .contactTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#About {
  height: 100%;
  background: white;
  text-align: center;
  padding: 50px;
  background-image: url(/img/stock-img/construction01_about_us_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#About h1,
#About h4 {
  color: #051821;
}

#About button {
  font-weight: 700;
  text-transform: capitalize;
  width: 138px;
  height: 48px;
  margin: 25px 0;
  font-size: 0.9rem;
  color: #f3f3f3;
  background-color: #e81a16;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

#About button:hover {
  background-color: #b51310;
  color: #f3f3f3;
  border: none;
}

#About button:active {
  background-color: #051821;
  color: #f3f3f3;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 1s;
  transition: 1s;
}

#About button:focus {
  outline: none;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35vh;
}

.aboutHeading {
  text-align: left;
  max-width: 55%;
}

.aboutText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 40%;
}

.aboutText p {
  color: #2b2b2b;
}

@media only screen and (max-width: 768px) {
  .aboutFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .aboutHeading {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 80%;
  }
  .aboutText {
    text-align: center;
    max-width: 80%;
  }
}

.servicesFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#box1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(121, 120, 120, 0.42))), url(/img/stock-img/kitchen-cabinet.jpg) no-repeat center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(121, 120, 120, 0.42) 100%), url(/img/stock-img/kitchen-cabinet.jpg) no-repeat center;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

#box2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(121, 120, 120, 0.42))), url(/img/stock-img/bathroom-shower.jpg) no-repeat center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(121, 120, 120, 0.42) 100%), url(/img/stock-img/bathroom-shower.jpg) no-repeat center;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#box3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(121, 120, 120, 0.42))), url(/img/stock-img/floor-tiles.jpg) no-repeat center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(121, 120, 120, 0.42) 100%), url(/img/stock-img/floor-tiles.jpg) no-repeat center;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.box {
  padding: 50px 40px;
  color: White;
  width: 180px;
  height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.box p {
  color: #f3f3f3;
}

@media only screen and (max-width: 992px) {
  .servicesFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.topHeader {
  text-align: right;
  background-color: black;
  opacity: .9;
  color: #e81a16;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px;
  position: fixed;
  left: 0;
  padding: 3px;
  width: 100%;
  z-index: 1000;
}

.topHeader .topContent {
  color: #e81a16;
  padding: 8px 15px;
  font-family: "Open Sans";
  letter-spacing: .01rem;
  font-size: .9rem;
}

.topHeader .topContent a {
  color: #e81a16;
}

header {
  height: 90vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.473)), to(rgba(0, 0, 0, 0.445))), url(/img/stock-img/full-kitchen.jpg) no-repeat center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.473) 0%, rgba(0, 0, 0, 0.445) 100%), url(/img/stock-img/full-kitchen.jpg) no-repeat center;
  background-size: cover;
}

header button {
  font-weight: 700;
  text-transform: capitalize;
  width: 138px;
  height: 48px;
  margin: 25px 0;
  font-size: 0.9rem;
  color: #e81a16;
  background-color: #f3f3f3;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  width: 175px;
  height: 58px;
}

header button:hover {
  background-color: #d0cfcf;
  border: none;
}

header button:focus {
  outline: none;
}

.displayNone {
  display: none;
}

.displayOn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

label {
  margin: 0 40px 0 0;
  float: right;
  color: white;
  font-size: 2em;
  line-height: 70px;
  display: none;
  width: 26px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#toggle {
  float: right;
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #2b2b2b;
  width: 100%;
  max-height: 65px;
  z-index: 10;
  position: fixed;
  top: 38px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.nav a {
  color: #f3f3f3;
}

.nav-scrolled {
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  background-color: #f3f3f3;
  color: red;
  position: fixed;
  top: 37px;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.73);
}

.nav-scrolled a {
  color: #051821;
}

.nav-scrolled label {
  color: #051821;
}

.logo {
  font-weight: 800;
  padding: 20px 30px;
}

.logo img {
  width: 30px;
  padding-top: 4px;
}

.logo span {
  color: #e81a16;
}

.menu {
  font-weight: 500;
  z-index: 0;
  padding: 20px 30px;
}

.menu a {
  padding: 0 10px;
  clear: right;
}

#about:hover,
#services:hover,
#portfolio:hover,
#contact:hover {
  color: #e81a16;
}

.heroContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.hero {
  color: white;
  text-align: left;
  margin: 0 10%;
}

@media only screen and (max-width: 768px) {
  .topHeader {
    z-index: 1000;
    position: fixed;
    width: 100%;
    opacity: 1;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
  }
  .menuFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu a {
    padding: 25px 8px;
    margin-top: 0;
    padding-top: 0;
    font-weight: 500;
    text-align: center;
  }
  label {
    display: block;
    cursor: pointer;
  }
  .nav-scrolled {
    margin: 0;
  }
  .nav {
    display: block;
    position: fixed;
    top: 35px;
    z-index: 2;
    background-color: #f3f3f3;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.73);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.73);
  }
  .nav a {
    color: #051821;
  }
  .menu {
    text-align: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    visibility: hidden;
    position: relative;
    top: -250px;
    left: -30px;
    background-color: #f3f3f3;
    z-index: -20;
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
    color: #051821;
  }
  .logo {
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 24px 30px;
    color: #051821;
  }
  .hero {
    z-index: 0;
  }
  label {
    color: #051821;
  }
  #toggle:checked ~ .menu {
    visibility: visible;
    background-color: #f3f3f3;
    width: 100%;
    margin: 0;
    top: -5px;
    left: -30px;
  }
  #toggle:checked ~ label {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    color: #051821;
  }
}

@media only screen and (max-width: 768px) and (max-width: 500px) {
  #Home {
    height: 80vh;
  }
  .logo {
    padding-top: 25px;
  }
}

#Help {
  height: 100%;
  background: #051821;
  display: none;
}

#Portfolio {
  height: 100%;
  background: white;
  padding: 40px 0;
  text-align: center;
  background-image: url(/img/stock-img/construction01_about_us_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Portfolio button {
  font-weight: 700;
  text-transform: capitalize;
  width: 138px;
  height: 48px;
  margin: 25px 0;
  font-size: 0.9rem;
  color: #f3f3f3;
  background-color: #e81a16;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

#Portfolio button:hover {
  background-color: #b51310;
  border: none;
}

#Portfolio button:focus {
  outline: none;
}

.portfolioHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.portfolioHeading h1,
.portfolioHeading h3 {
  color: #051821;
}

.portfolioHeading hr {
  width: 10%;
}

.gliderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.gliderContainer img {
  width: 350px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 263px;
  margin: 25px 0;
}

.glide__arrow {
  top: 50%;
  color: white !important;
  background: #24252556 !important;
}

#Portfolio .gliderContainer button {
  margin: 0px -20px;
  background-color: transparent;
  color: #051821;
  width: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  height: 40px;
  padding: none;
}

.zoomed {
  position: fixed;
}

#Portfolio .gliderContainer img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

#Portfolio .gliderContainer img:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 415px) {
  .gliderContainer img {
    width: 279.4px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    height: 210px;
    margin: 25px 0;
  }
}

@media only screen and (max-width: 340px) {
  .gliderContainer img {
    width: 260px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    height: 195.37px;
    margin: 25px 0;
  }
}

@media only screen and (max-width: 320px) {
  .gliderContainer img {
    width: 250px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    height: 187.86px;
    margin: 25px 0;
  }
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 3.3rem;
  }
  h3 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  #Contact h1 {
    font-size: 2.4rem;
  }
  #Contact h3 {
    font-size: 1rem;
  }
  #Contact h5 {
    font-size: 0.75rem;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul li {
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-weight: 200;
  color: #2b2b2b;
  font-size: 1.1rem;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 5.9rem;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 3.4rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 0.1em;
}

h4 {
  font-size: 1.4rem;
  font-weight: 200;
}

hr {
  border: 0;
  border-top: 1px solid #e81a16;
  border-bottom: 1px solid #e81a16;
  border-radius: 1px;
  width: 20%;
  margin: 10px 0;
}

button {
  margin: 15px;
  text-transform: uppercase !important;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.36);
          box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.36);
}

button:hover {
  background-color: #051821;
  color: #e81a16;
  border: none;
}

button:focus {
  outline: none;
}

.text-gone {
  opacity: 0;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
}

.text-appear {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */